
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.container{
    display: flex;
    width: 40rem;
    height: 40rem;
    border: solid var(--white);
    align-items: center;
    flex-direction: column;
}

#title{
    font-family: 'BebasNeue', serif;
    color: var(--white);
    font-size: 2rem;
    letter-spacing: 0.5rem;
    margin-top: 0.5rem;
}

.choose{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.choose label{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.chooseTitle{
    color: var(--white);
}

.choose button, #reset, #confirm{
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    font-size: 0.75rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: 'Barlow', serif;
}
.choose button:hover, #saveMatrix:hover, #reset:hover, #confirm:hover{
    background-color: var(--std_orange);
    color: var(--white);
}
#matrixFill{
    display: block;
    color: var(--white);
    margin-top: 1rem;
}
.matrixAutoCommon{
    margin-top: 1rem;
}
.matrixAutoCommon input{
    width: 3rem;
    height: 3rem;
}
#matrixAuto2x2 label{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

#matrixAuto3x3 label{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

#matrixAuto4x4 label{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

#saveMatrix{
    display: none;
    margin-top: 0.5rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
}

#scalar, #matrixAuto2x2, #matrixAuto3x3, #matrixAuto4x4{
    display: none;
}

/*Estilização do display*/
#display{
    display: flex;
    width: 20rem;
    height: 3rem;
    align-items: center;
    background-color: var(--display);
    margin-top: 1rem;   
}
#displayText{
    color: var(--white);
    font-size: 1.25rem;
    margin-left: 0.2rem;
}

.calcs{
    display: none;
    gap: 1rem;
    margin-top: 1rem;
}
.calcs label{
    display: flex;
    flex-direction: column;
}

#multiEnable{
    display: none;
}
#singleMatrix{
    display: none;
}